{%- from "phpfpm/map.jinja" import phpfpm as phpfpm_map with context %}
[{{ pool_name }}]
listen = {{ phpfpm_map.dirs.socket }}/fpm_$pool.sock
user = {{ pool_user|default('www-data') }}
group = {{ pool_group|default('www-data') }}
listen.group = {{ listen|default('nginx') }}
listen.owner = {{ listen|default('nginx') }}
chdir = {{ chdir|default('/') }}
php_flag[display_errors] = {{ display_errors|default('on') }}

; Process Manager: Ondemand
pm = ondemand
pm.max_children = 5
pm.process_idle_timeout = 10s

{%- if extra_config is defined %}
; Overrides
{{ extra_config|join('\n') }}
{%- endif %}
